.form {
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
  padding: 2rem;
  text-align: left;
  background-color: wheat;
}

.actions {
  text-align: center;
}

.control {
  margin: 1rem 0;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.invalid input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.error-text {
  color: red;
}
